img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 1rem;
  padding: 1rem;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

/*______Custom properties for farver______*/
html {
  --primary-color: #ff9b38;
  --secondary-color: #0731e2;
}

h1 {
  font-family: "Anton", sans-serif;
  color: var(--secondary-color);
}

h2 {
  font-family: "Anton", sans-serif;
  color: var(--secondary-color);
  font-size: 2rem;
}

h3 {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  color: var(--secondary-color);
}

p {
  font-family: ;
  margin-bottom: 0.5rem;
}

/*____SECTION ONE____*/

.text_box {
  border: 2px solid var(--secondary-color);
  text-align: center;
}

/*____SECTOION TWO____*/
#section_two {
  background-color: var(--primary-color);
  margin: 0;
}

@media (min-width: 600px) {
  section {
    margin: 3rem;
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
}
