img,
video {
  width: 100%;
  height: auto;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

#section_one,
#section_three {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#splash {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-image: url(img/splash_billede.webp);
  background-size: cover;
  width: 100vw;
  height: 40vh;
  background-position: 52%;
  margin-bottom: 30px;
}

h1 {
  display: flex;
  grid-row: 2/3;
  font-size: 3.5rem;
  text-align: center;
  justify-content: center;
  align-content: center;
}

/* Knapper */

.button {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  place-content: center;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  display: inline-flex;
  width: 50%;
  padding: 0.9rem 0 0.9rem 0;
  color: #0731e2;
  background-color: #ff9b38;
  border: #ff9b38 solid;
}

.button a {
  text-decoration: none;
}

.button:hover {
  background-color: white;
  border: #ff9b38 solid;
  cursor: pointer;
}

/* Header */

header nav li {
  list-style: none;
  text-align: center;
  justify-content: center;
  padding: 0rem;
}

ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 40px;
}

/* nav {
  width: 1000px;
  margin-inline: auto;
} */

header a {
  justify-content: center;
  display: flex;
  width: 140px;
  font-family: open-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 1rem;
  display: inline-flex;
  padding: 0.9rem 0 0.9rem 0;
  color: #0731e2;
  background-color: #ff9b38;
  text-decoration: none;
  border: #ff9b38 solid;
}

header a:hover {
  background-color: white;
  border: #ff9b38 solid;
}

/* section_one mobil */

#section_one {
  margin-bottom: 10px;
}

#section_one h2 {
  margin-top: 20px;
}

/* section_two mobil */

#section_two {
  background-color: #ff9b38;
  padding: 20px;
}

#section_two h3 {
  font-weight: bold;
}

/* Videotekst mobil */

.videotekst {
  margin-top: 20px;
}

/* Footer mobile first */

footer p,
footer h3 {
  color: white;
}

footer {
  background-color: #0731e2;
  padding-left: 20px;
}

footer .col_1,
.col_2,
.col_3 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

/* SoMe ikoner */
footer a {
  color: white;
}

.col_icon {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/*______Custom properties for farver______*/
html {
  --primary-color: #ff9b38;
  --secondary-color: #0731e2;
}

h1 {
  font-family: "Anton", sans-serif;
  color: var(--secondary-color);
}

h2 {
  font-family: "Anton", sans-serif;
  color: var(--secondary-color);
}

h3 {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

p {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4rem;
}

.button {
  font-family: open-sans, sans-serif;
  font-weight: bold;
}

@media (min-width: 600px) {
  #section_one,
  #section_three,
  .video {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #section_two {
    padding-right: 0px;
    padding-left: 0;
  }

  #splash {
    height: 60vh;
  }

  h1 {
    font-size: 6rem;
  }

  #section_two {
    margin-bottom: 6rem;
  }

  /* Footer web */
  footer {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  footer .col_1,
  footer .col_2,
  footer .col_3 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  footer .col_1,
  footer .col_2 {
    border-right: solid 0.05rem white;
    border-bottom: none;
  }
}

@media (min-width: 1200px) {
  #splash {
    height: 60vh;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  #section_one,
  #section_three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  #invitation {
    grid-column: 2/2;
  }
}
